@import 'tailwindcss';

@font-face {
    font-family: 'Mono';
    src: url(../src/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Sans-Serif';
    src: url(../src/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Serif';
    src: url(../src/assets/fonts/lora/Lora-VariableFont_wght.ttf);
}

@theme {
    /* fonts */
    --font-mono: 'Mono';
    --font-sans-serif: 'Sans-Serif';
    --font-sans: 'Serif';

    /* colors */
    --color-primary-purple: #A445ED;
    --color-secondary-purple: #f4f4f4;

    --color-primary-red: #FF5252;

    --color-primary-grey: #757575;
    --color-secondary-grey: #e9e9e9;
    
    --color-custom-one-black: #050505;
    --color-custom-two-black: #1f1f1f;
    --color-custom-three-black: #2d2d2d;
    --color-custom-four-black: #3a3a3a;
}